.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
    text-align: left;
    font-size: 25px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;
}

.mensaje {
    display: block;
    margin-bottom: 20px;
    color: #555;
    text-align: left;
    font-size: 25px;
}